.wrapper {
	width: 680px;
	margin: 0 auto;
}
form {
	text-align: center;
	padding-top: 100px;
}
#field {
	width: 400px;
}
img {
	height: 120px;
	width: 120px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}
#images,
#searchResult {
	text-align: center;
}
#searchResult {
	padding-top: 10px;
	font-size: 20px;
}